html{
    margin: 0;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
    color: grey;
}

#graps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#graps canvas{
    width: 100%;
    height: auto;
}